/* Para un selector de clase es con .*/
/* Inline-size sirve para el ancho del elemento*/
/* Tamaño del bloque en vertical es block-size*/
/* Anular borde de las imagenes border:none*/
/* Que no haya nada por atraz  background-color:unset,initial o transparent*/
/* ponerle un border para ver y centrar*/
/* que no se repita la imagen background-repet: no-repeat;*/
/* posicionar la imagen background-position:center */
/* para que el cursor pase sobre el el, cursor:pointer */

.button{
    inline-size: 32px;
    block-size: 32px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center; 
    cursor: pointer;
}

/*Pseudoclases es para la actividad de los botoenes se pone ..*/
/* el transform: scale(.9) mejora la interactividad*/
.button:active{
   transform: scale(.9); 
}

/*estilo de ID se hace con # */

#pause{
    background-image: url('../images/pause.svg');
}

#play{
    background-image: url('../images/play.svg');

}
#backward{
    background-image: url('../images/-10.svg');
}
#forward{
    background-image: url('../images/+10.svg');
}